<p>product works!</p>
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/ang.png" alt="angular">
            <div class="card-body">
                <h3 class="card-title">Angular logo</h3>
                <p class="card-text">This is a logo</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/ang.png" alt="angular">
            <div class="card-body">
                <h3 class="card-title">Angular logo</h3>
                <p class="card-text">This is a logo</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/ang.png" alt="angular">
            <div class="card-body">
                <h3 class="card-title">Angular logo</h3>
                <p class="card-text">This is a logo</p>
            </div>
        </div>
    </div>
</div>

