<h2>Employee Detail Form</h2>
<div class="form-group">
    Employee Id:   <br><input type="text" [(ngModel)]="emp.empId"><br>
    Employee Name: <br><input type="text" [(ngModel)]="emp.empName"><br>
    Gender:        <br><input type="text" [(ngModel)]="emp.gender"><br>
    Salary:        <br><input type="text" [(ngModel)]="emp.salary"><br>
    DOJ:           <br><input type="text" [(ngModel)]="emp.doj"><br>
    Login id:      <br><input type="text" [(ngModel)]="emp.loginId"><br>
    Password:      <br><input type="password" [(ngModel)]="emp.password"><br><br>
    <button (click)="submit()">SUBMIT</button>
</div>
